.navBar {
  box-sizing: border-box;
  color: #FFFFFF;
  flex: none;
  padding: 4px;
  height: 55px;
}

.navBar h1 {
  font-size: 48px;
  font-weight: 100;
  margin: 0 0 5px 0;
  text-align: center;
  text-shadow: 1px 2px #3b136c;
}
